<div *ngIf="authService.user | async as user; else showLogin">
  <mat-toolbar id="main-toolbar">
    <img class="logo" src="assets/images/amigo-logo.svg">

    <button id="menu-trigger" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
          <mat-icon>close</mat-icon>
          <span (click)="logout()">Log out</span>
        </button>
    </mat-menu>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>

  <router-outlet></router-outlet>
</div>

<ng-template #showLogin>
  <main id="login" class="mat-app-background">
    <img class="login-logo" src="assets/images/amigo-logo.svg">
    <button mat-raised-button color="primary" (click)="login()" class="login-button">Log in with Google</button>
  </main>
</ng-template>
