<div *ngIf="authService.user | async as user; else showLogin">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list class="sidenav-list">
        <a mat-list-item href="#" id="sidenav-list"><mat-icon>account_circle</mat-icon><p id="sidenav-text">Profile</p></a>
        <mat-divider></mat-divider>
        <a mat-list-item href="#" id="sidenav-list"><mat-icon>assignment</mat-icon><p id="sidenav-text">Board</p></a>
        <mat-divider></mat-divider>
        <a mat-list-item href="#" id="sidenav-list"><mat-icon>chat_bubble</mat-icon><p id="sidenav-text">Chat</p></a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar id="main-toolbar">
        <button id="main-menu-trigger" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="logo-container">
          <a [routerLink]="['/']">
            <img class="logo" src="assets/images/amigo-logo.svg">
          </a>
        </div>

        <button id="settings-trigger" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>

          <button mat-menu-item>
              <mat-icon>close</mat-icon>
              <span (click)="logout()">Log out</span>
            </button>
        </mat-menu>

      </mat-toolbar>
      <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
      
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <footer class="main-footer">
    <section>
      <p><mat-icon>person</mat-icon>Victor Wahid Ívarsson</p>
      <p><mat-icon>person</mat-icon>Reynir Aron Magnússon</p>
      <p><mat-icon>person</mat-icon>Birkir Finnbogi H. Arndal</p>
    </section>

    <section>
      <a href="#">Contact us</a>
      <a href="#">Terms of Service</a>
    </section>
  </footer>
</div>

<ng-template #showLogin>
  <main id="main-login" class="login-background">
    <section id="login">
      <img class="login-logo" src="assets/images/amigo-logo.svg">
      <button mat-raised-button color="primary" (click)="login()" class="login-button">Log in with Google</button>
    </section>
  </main>
</ng-template>
