@import '~src/variables';

main {
    height: 100%;
}
#login {
    padding-top: 25vh;
    .login-button {
        display: block;
        margin: 0 auto;
    }
    .login-logo {
        display: block;
        width: 25em;
        max-width: 100%;
        margin: 0 auto;
    }
}
#main-toolbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main-menu logo settings-menu";
    .logo-container {
        height: inherit;
        .logo {
            display: block;
            margin: 0 auto;
            height: 100%;
            max-width: 100%;
        }
        grid-area: logo;
    }
    #main-menu-trigger {
        grid-area: main-menu;
    }
    #settings-trigger {
        grid-area: settings-menu;
        margin-left: auto;
    }
}

.login-background {
    background-image: linear-gradient(
        to bottom right,
        rgb(212, 91, 223),
        rgb(161, 55, 182),
        rgb(151, 41, 137),
        rgb(135, 26, 156),
        rgb(87, 24, 160)
    );
}

#sidenav-text {
    padding: 1em 11em 1em 1em;
}

.sidenav-list {
    padding: 0;
}

.main-footer {
    color: white;
    padding: 2em;
    text-align: center;
    background-color: $warn;
    img {
        max-height: 7em;
    }
    p {
        display: flex;
        align-items: center;
        mat-icon {
            padding-right: 1em;
        }
    }
    a,
    a:link,
    a:visited {
        padding: 1em;
        text-decoration: none;
        color: white;
    }
}

.friendsList {
    margin: 1em;
    padding: 0;
    border-radius: 1em;
    img {
        margin-right: 1em;
        border: 2px solid white;
        max-width: 3em;
        border-radius: 50%;
    }
    mat-list-item {
        padding: .7em;
    }
    #offline {
        opacity: 30%;
    }
    background-color: #212121;
}

#yourFriends {
    padding-left: 1em;
}