// Import Angular Material theme color variables
@import '~src/variables';

main {
    height: 100%;
    padding: 1em;
}
.profiles {
    display: grid;
    gap: 1em;
}
.profile {
    width: 80%;
    max-width: 20em;
    margin: 0 auto;
    // User profile name and age
    mat-card-title {
        cursor: pointer;
    }
    // List of interests
    .profile-interests {
        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline;
                &::after {
                    content: ", ";
                }
                &:last-child::after {
                    content: "";
                }
            }
        }
    }
}
