<main>
    <h1>Settings</h1>
    <h2>Change Profile Image</h2>
    <div>

    </div>

    <h2>Change Name</h2>
    <div>
        <mat-form-field>
            <input matInput placehodler="Name">
        </mat-form-field>
    </div>

    <h2>Change Description</h2>
    <div class="desc">
        <mat-form-field>
            <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
        <button>Cancel</button>
        <button>Save</button>
    </div>

    <h2>Change Location</h2>
    <div>
        <mat-form-field>
            <mat-option value="option">Iceland</mat-option>
        </mat-form-field>
    </div>

    <h2>Change Interests</h2>
    <div>

    </div>

    <h2>Delete Account</h2>
    <!--
        1. Change profile image
        2. Change name
        3. Change description
        4. Change location
        5. Change interests
        6. (Delete account)
    -->
</main>
