<main>
    <form [formGroup]="settingsForm" id="settings-form" (ngSubmit)="onSubmit()">
        <h2>Settings</h2>
        <mat-form-field>
            <mat-label>Profile photo</mat-label>
            <input matInput placeholder="Profile photo URL" formControlName="imageUrl">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Your name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Your description" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Location</mat-label>
            <input matInput placeholder="Your location" formControlName="location">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Interests</mat-label>
            <input matInput placeholder="Your interests" formControlName="interests">
        </mat-form-field>

        <div id="buttons">
            <button type="button" mat-raised-button color="warn" id="delete-account-btn"><mat-icon aria-label="Delete account" title="Delete account">delete_forever</mat-icon></button>
            <button type="submit" mat-raised-button color="primary" id="save-btn"><mat-icon aria-label="Save" title="Save">save</mat-icon></button>
        </div>
    </form>
</main>
